// Common style

@regular-font: Arial, sans-serif;

html,
body{
  font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
// use this class to make a tag full browser
.full{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.v-align-table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.btn{
  padding: 2% 5%;
  border-radius: 5%;
  -webkit-transition: all 25ms ease-in;
     -moz-transition: all 25ms ease-in;
      -ms-transition: all 25ms ease-in;
       -o-transition: all 25ms ease-in;
          transition: all 25ms ease-in;
  &:hover{
    background: darken(#ffa700, 10%);
    cursor: pointer;
    -webkit-animation: btnBounce 750ms ease-in-out infinite;
       -moz-animation: btnBounce 750ms ease-in-out infinite;
         -o-animation: btnBounce 750ms ease-in-out infinite;
            animation: btnBounce 750ms ease-in-out infinite;
  }
}

@-webkit-keyframes btnBounce{
  0%  { -webkit-transform: scale(1, 1)}
  50%{ -webkit-transform: scale(0.9, 0.9)}
  100%{ -webkit-transform: scale(1, 1)}
}

.next{
  background: #ffa700;
  color: #FFF;
  display: table;
  font-family: @regular-font;
  font-size: 3em;
  z-index: 5000;

  -webkit-transform-origin: 50% 100%;
     -moz-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
       -o-transform-origin: 50% 100%;
          transform-origin: 50% 100%;

   -webkit-transition: all 500ms cubic-bezier(0.115, 0.730, 0.320, 0.865); 
     -moz-transition: all 500ms cubic-bezier(0.115, 0.730, 0.320, 0.865); 
       -o-transition: all 500ms cubic-bezier(0.115, 0.730, 0.320, 0.865); 
          transition: all 500ms cubic-bezier(0.115, 0.730, 0.320, 0.865); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.115, 0.730, 0.320, 0.865); 
       -moz-transition-timing-function: cubic-bezier(0.115, 0.730, 0.320, 0.865); 
         -o-transition-timing-function: cubic-bezier(0.115, 0.730, 0.320, 0.865); 
            transition-timing-function: cubic-bezier(0.115, 0.730, 0.320, 0.865); /* custom */

   -webkit-transform: scale(1, 0) translate3d(0, 100%, 0);
      -moz-transform: scale(1, 0) translate3d(0, 100%, 0);
       -ms-transform: scale(1, 0) translate3d(0, 100%, 0);
        -o-transform: scale(1, 0) translate3d(0, 100%, 0);
           transform: scale(1, 0) translate3d(0, 100%, 0);

  &.on{
   -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
      -moz-transform: scale(1, 1) translate3d(0, 0, 0);
       -ms-transform: scale(1, 1) translate3d(0, 0, 0);
        -o-transform: scale(1, 1) translate3d(0, 0, 0);
           transform: scale(1, 1) translate3d(0, 0, 0);

  }
}

